<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>PayUmoney Transaction</title>
    <style>
        .email {
            color: grey;
        }
    </style>
</head>

<body>
    
    <div>
        <img src="/assets/images/payumoney.png" />
    </div>
    <div>
        <h3>Transaction Details:</h3>
    </div>


</body>

</html>